.contact-form {
    padding: 5%;
}

.contact-form h1 {
    color: #ffd166;
    font-size: 250%;
    margin-bottom: 5%;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form form label, input, textarea {
    font-size: 150%;
    margin-bottom: 15px;
}

.contact-form form button {
    color: #073b4c;
    font-size: 150%;
    font-weight: bold;
    background-color: #ffd166;
    padding: 15px;
    width: fit-content;
    height: fit-content;
}